/*My stylesheet test*/
#form11{

  }
.divform11 input{
height:30px;
width:120%;
border-radius: 3px;
border: none;
background-color: white;
box-sizing: border-box;
padding-left: 10px;
}
.divform11{
  margin:25px;
  margin-top: 10px;
}
.navbar-caption{
  font-size:0.8em;
  margin: 0px;
}
.carousel2{
margin:100 0%;
}
/*.navb1 img{
  margin-top: 0px;
}*/
.navbar1{
  heigth: 200px;
}
#log1{
  margin-top:0%!important;
  padding-top:none;
  float
}
#navi{
height:50px;
}
#bienvenue{
  margin-top:5%;
  text-align:center;
  font-size: 36px;
  color:white;
}
.form-control option:first-child{display: none;}
/*#carousel-indicator{
  float: none;
  margin-top: 90%;
  padding-top: 150px;

}*/
.carousel-item label{
  width:450px;
  font-size: 22px;
  color: white;
}
#carousel11{
  margin-top:5%;
  margin-left: -10%;
  margin-right: 7.8%;
  text-align:center;
}
#form12{
  margin-right:none;
}
/*responsive formulaire connexion*/
@media screen and (max-width:500px){
  form .form-inline{

  }
  #boutin{
margin-left: 12.5%;
  }
  #form11{

    }
    #form11 button{
      }
      .divform11{
      padding-left: 22.5%;
      }
  #navi{
height:250px;
  }
}
